{{> privateNav}}
<div class="container mx-auto my-4 py-6">
    <div class="grid bg-opacity-75 bg-gray-200 p-6">
        <div class="font-bold text-gray-900 text-2xl pl-5 mb-2">Your Anime List</div>
        <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
            <thead class="text-white">
                {{#each allInfo}}

                <tr
                    class="bg-gray-900 text-gray-100 flex flex-col flex-no wrap sm:table-row  rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                    <th class="p-3 text-left">Number</th>
                    <th class="p-3 text-left">Anime Title</th>
                    <th class="p-3 text-left">Release Date</th>
                    <th class="p-3 text-left">Rating</th>
                    <th class="p-3 text-left">Watch Status</th>
                </tr>
                {{/each}}
            </thead>
            <tbody class="flex-1 sm:flex-none">
                {{#each allInfo}}
                {{> allAnimePartial}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


<style>
    body {
        background-image: URL("/images/cybercity2.jfif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    @media (min-width: 640px) {
        table {
            display: inline-table !important;
        }

        thead tr:not(:first-child) {
            display: none;
        }
    }

    td:not(:last-child) {
        border-bottom: 0;
    }

    th:not(:last-child) {
        border-bottom: 2px solid rgba(0, 0, 0, .1);
    }
</style>