{{> privateNav}}
<!---All Your Anime table rendered from MYSQL Database-->
<div class="container mx-auto py-6">
    <div class="row-auto">
        <div class="grid bg-opacity-75 bg-gray-200 p-6">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Your Anime List</div>
                <div class="table w-full shadow sm:shadow-md md:shadow-lg lg:shadow-xl xl:shadow-2xl">
                    <div class="table-row-group shadow sm:shadow-md md:shadow-lg lg:shadow-xl xl:shadow-2xl">
                        <div class="table-row">
                            <div class="table-cell bg-gray-900 text-gray-100 px-4 py-2 text-sm">Number</div>
                            <div class="table-cell bg-gray-900 text-gray-100 px-4 py-2 text-sm">Anime Title</div>
                            <div class="table-cell bg-gray-900 text-gray-100 px-4 py-2 text-sm">Release Date</div>
                            <div class="table-cell bg-gray-900 text-gray-100 px-4 py-2 text-sm">Rating</div>
                            <div class="table-cell bg-gray-900 text-gray-100 px-4 py-2 text-sm">Watch Status</div>
                        </div>
                        {{#each allInfo}}
                        {{> allAnimePartial}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <style>
      body {
        background-image: URL("/images/cybercity2.jfif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>