<div class="container mx-auto py-6">
    <div class="row-auto">
        <div class="grid bg-opacity-75 bg-gray-200 p-6">
            <div class="px-6 py-4">
                <div class="font-bold text-2xl mb-2">Last Updated</div>

                <div class="flex w-full mb-3">
                    <div class="w-2/6 bg-gray-900 text-gray-100 px-4 py-2 text-xl">
                        Anime Title
                    </div>
                    <div class="w-1/6 bg-gray-900 text-gray-100 px-4 py-2 text-xl">
                        Rating
                    </div>
                    <div class="w-1/6 bg-gray-900 text-gray-100 px-4 py-2 text-xl">
                        Watch Status
                    </div>
                    <div class="w-2/6 bg-gray-900 text-gray-100 px-4 py-2 text-xl">
                        Last Review
                    </div>
                </div>
                <div class="flex w-full mb-3">
                    <div class="w-2/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
                        <a href="">Cell 5</a>
                    </div>
                    <div class="w-1/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
                        Cell 5
                    </div>
                    <div class="w-1/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
                        Cell 5
                    </div>
                    <div class="w-2/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
                        Cell 5
                    </div>
                </div>
                <div class="flex w-full mb-3">
                    <div class="w-2/6 bg-gray-400 text-gray-700 px-4 py-2 text-xl">
                        Cell 4
                    </div>
                    <div class="w-1/6 bg-gray-400 text-gray-700 px-4 py-2 text-xl">
                        Cell 4
                    </div>
                    <div class="w-1/6 bg-gray-400 text-gray-700 px-4 py-2 text-xl">
                        Cell 4
                    </div>
                    <div class="w-2/6 bg-gray-400 text-gray-700 px-4 py-2 text-xl">
                        Cell 4
                    </div>
                </div>
                <div class="flex w-full mb-3">
                    <div class="w-2/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
                        Cell 4
                    </div>
                    <div class="w-1/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
                        Cell 4
                    </div>
                    <div class="w-1/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
                        Cell 4
                    </div>
                    <div class="w-2/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
                        Cell 4
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>