<div class="container mx-auto py-6">
  <div class="max-w-sm w-2/3 lg:max-w-full lg:flex">
    <div class="object-contain h-48 lg:h-auto lg:w-48 bg-cover rounded-t lg:rounded-t-none lg:rounded-l"
      style="background-image: url('{{image_url}}')"
      title={{title}}>
    </div>
    <div
      class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal bg-opacity-75">
      <div class="mb-2">

        <div class="text-gray-900 font-bold text-xl mb-2">{{title}}</div>
        <p class="text-gray-700 text-base">{{synopsis}}</p>
      </div>

    </div>
  </div>